
body {
  text-align: center;
  background-color: #040512;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.4em;
  border: #693b93 solid 0.2em;
  background-color: #452662;
  border-radius: 0.6em;
  
}

.startGame {
  align-self: center;
  margin-left: 1em;
  border: solid 0.6em #693b93;
  border-radius: 1.6em;
  margin-top: 1.5em;

}

#startGameBtn {
  background-color: #452662;
  border-radius: 1em;
  height: 4em;
  width: 8em;
  font-size: 1.6rem;
  font-family: 'Press Start 2p', cursive;
}

#startGameBtn:hover{
  cursor: pointer;
}

.scores {
  align-self: center;
  font-family: 'Press Start 2p', cursive;
  width: 16em;
  font-size: 1.5rem;
  margin-top: 1em;
  border: solid #693b93 0.4em;
  border-radius: 2em;
  background-color: #452662;
}

.scores p {
  margin: 0.6em;
  padding: 0.8em;
  border: solid silver;
  border-radius: 0.8em;
  
}

.memory{
  font-family: 'Press Start 2p', cursive;
  margin-right: 1em;
  width: 16em;
  font-size: 1.5rem;
  margin-top: 1em;
  border: solid #693b93 0.4em;
  border-radius: 2em;
  background-color: #452662;
}

.memory p{
  margin: 0.6em;
  padding: 0.8em;
  border: solid silver;
  border-radius: 0.8em;
}

.memory img{
  height: auto;
  width: 240px;
}

.scores, #startGameBtn, #title, .memory {
  color: #19fbff;
  -webkit-text-stroke: 0.6px black;
}

.game-pad{
  position: flex;
  margin: 6em 10em -42em 46em;
}

.btn {
  position: absolute;
  height: 17.2em;
  width: 17.2em;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

#cow {
  border: solid 7px green;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background-image: url('./resources/images/cow.jpg');
  margin: -250px 0px 0px -250px;
}

#donkey {
  border: solid 7px red;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background-image: url('./resources/images/donkey.jpg');
  margin: -250px 0px 0px 0px;
}

#monkey {
  border: solid 7px yellow;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  background-image: url('./resources/images/monkey.jpg');
  margin: 0px -250px 0px -250px;
}

#pig {
  border: solid 7px blue;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  background-image: url('./resources/images/piggie.jpg');
  margin: 0px 0px -250px 0px;

}

#cow:hover, #donkey:hover, #monkey:hover, #pig:hover{
  border: dashed 0.8em whitesmoke;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 3.5em whitesmoke;
}
